<div class="bg-light p-5 vh-100">


<h2>ユーザー編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field form-group bg-light">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" ,style:"max-width: 350px;" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(新しいパスワード)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control",style:"max-width: 350px;" %>
    <% if @minimum_password_length %> 
      <em class="text-danger"><%= @minimum_password_length %> 文字以上必須</em>
    <% end %>
  </div>

  <div class="field mt-2">
    <%= f.label :password_confirmation %><i>(パスワードの確認)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",style:"max-width: 350px;" %>
  </div>

  <div class="field mt-2">
    <%= f.label :current_password %> <i>(現在のパスワード)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control",style:"max-width: 350px;" %>
  </div>

  <div class="actions mt-4">
    <%= f.submit "更新する" ,class: "btn btn-primary"%>
  </div>
<% end %>

<div class="actions mt-5">
<h3>退会手続き</h3>
<p class="text-danger px-1">⚠注意　取り消せません</p>
<%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class: "btn btn-danger" %>

<%= link_to "戻る", :back, class: "btn btn-info mt-5" %>
</div>
</div>
