<%= form_tag({controller: "boards", action: "update"},{method: :put}) do %>
    <p>ボード名変更</p>
    <%= label_tag(:name, "Board Name:") %>
    <%= text_field_tag(:name, @board.name) %>
    <%= submit_tag("Save") %>
<% end %>
<%= form_tag({controller: "boards", action: "share"}, {method: :put}) do %>
    <p>ボードの共有</p>
    <%= label_tag(:name, "email:") %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Save") %>
<% end %>
<%= yield %>