<style>
  .content{
    max-width: 700px;
  }
  .button_td{
    width: 30px;
  }
</style>
<div class="user_email" style="background-color: pink;">
  <h2><%= current_user.email %>のページ</h2>
</div>
<div class="container">
  <table class="table">
    <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td>
          <%= link_to(board.name, "/boards/#{board.id}/show" ) %>
        </td>
        <td class="button_td">
          <%= button_to("edit", "/boards/#{board.id}/edit", method: :get, class: "btn btn-primary") %>
        </td>
        <td class="button_td">
          <%= button_to("destroy", "/boards/#{board.id}/destroy", method: :delete, class: "btn btn-danger") %>
        </td>
      <tr>
    <% end %>
    <tbody>
  </table>
  <div>
    <%= button_to("new", "/boards/new", method: :get, class: "btn btn-primary") %>
  </div>
</div>
