<!DOCTYPE html>
<html>
  <head>
    <title>Intern2022</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
  <% if user_signed_in? %>
  <!-- navbar-expandがないとドロップメニューで縦幅が広がっちゃう -->
  <nav class="navbar navbar-expand navbar-light board-header shadow-sm">
    <!--<a class="navbar-brand" href="#">something cool logo</a>-->
    <!-- 左寄せと右寄せを作るためにmr-autoを1つ目だけ付与 -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <%= link_to("ボード選択", boards_index_path, method: :get, class: "nav-link text-white") %>
      </li>
      <% if ["board", "show"].all? { |check_str| request.path.include?(check_str) } %>
      <li class="nav-item">
        <%= link_to("ボード編集", boards_create_path(@board), method: :get, class: "nav-link text-white") %>
      </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <!-- aria-hashpopup ドロップメニューである, aria-expanded メニューが開いてるかどうか -->
        <!-- idとaria-labelledbyで紐付け -->
        <a
          class="nav-link dropdown-toggle text-white"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >ユーザー</a>
        <!-- 画面外に出ないようにdropdown-menu-rightを付与 : https://qiita.com/hmmrjn/items/6f5fd65ab8c58cd7a6d6 -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          <%= link_to("ユーザー情報編集", edit_user_registration_path, method: :get, class: "dropdown-item text-info ") %>
          <div class="dropdown-divider"></div>
          <%= link_to("ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "dropdown-item text-info ") %>
        </div>
      </li>
    </ul>
  </nav>
  <% end %>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
